body
{
  width: 100vw;
  min-height: 100vh;
  margin: 0px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.nav-container
{
  display: flex;
  flex-wrap: nowrap;
}
